@import '../../../utils/scss/variables';
@import '../../../utils/scss/utilities';

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba(125, 213, 111, 0.6),
      #28b485
    ),
    url('../../../img/nat-4.jpg');
  background-size: cover;

  transform: skewY(-7deg);
  margin-top: -11rem;

  & > * {
    transform: skewY(7deg);
  }

  .features-flex {
    display: flex;
    justify-content: space-evenly;

    .feature-box {
      background-color: rgba($color-white, 0.8);
      font-size: 1.5rem;
      padding: 2.5rem;
      text-align: center;
      border-radius: 10px;
      box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
      width: 15%;
      min-height: 10%;
      transition: transform 0.3s;

      &-icon {
        margin-top: 2rem;
        margin-bottom: 0.5rem;
        display: inline-block;
        color: $color-primary;
      }

      &:hover {
        transform: translateY(-1.5rem) scale(1.03);
      }
    }
  }
}
