@import '../../utils/scss/variables';
@import '../../utils/scss/utilities';

.tour-details {
  background-color: $color-grey-light-1;
  border: 1px solid #f1f1f1;
  height: 15%;

  .tour-details-flex {
    display: flex;
    justify-content: space;
    padding: 1.5rem 0;
    flex-wrap: wrap;

    .tour-details-items {
      min-width: 35%;
      padding-left: 1.5rem;
      font-size: 1.3rem;
      flex-grow: 1;
    }

    .btn-container {
      margin-right: 1.25rem;
      padding-top: 0.5rem;
      align-self: flex-start;

      .btn {
        background-color: $color-primary-dark;
        color: $color-white;
        border: 0;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1rem 3rem;
        display: inline-block;
        border-radius: 10rem;
        font-size: 1.5rem;
        transition: all 0.5s;

        &:focus {
          border: 0;
          outline: 0;
        }

        &:hover {
          cursor: pointer;
          transform: translateY(-3px);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0.6);
        }

        &:active {
          transform: translateY(-1px);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0.2);
        }
      }
    }
  }
}
