@import '../../utils/scss/variables';
@import '../../utils/scss/utilities';

.section-tours {
  background-color: $color-grey-light-1;
  padding: 25rem 0 20rem 0;
  margin-top: -10rem;
  text-align: center;

  .tours-flex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .tours-box {
      background-color: rgba($color-white, 0.8);
      font-size: 1.5rem;
      box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
      transition: transform 0.3s;
      text-align: left;
      max-width: 22%;
      height: 100%;

      .tours-img-overlay {
        font-size: 2.8rem;
        font-weight: 300;
        color: $color-white;
        position: relative;
        background-image: linear-gradient(
          to right bottom,
          rgba(125, 213, 111, 0.6),
          #28b485
        );

        background-size: cover;
        text-transform: uppercase;
        text-align: right;
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
        line-height: 0.8;

        .tours-img {
          width: 100%;
          height: 100%;
        }

        .card-heading {
          position: absolute;
          top: 10rem;
          right: 2rem;
          width: 80%;
          height: auto;

          &-span {
            width: 100%;
            padding-right: 5rem;
            background-image: linear-gradient(
              to right bottom,
              rgba($color-primary-dark, 0.6),
              rgba($color-primary-dark, 0.6)
            );
          }
        }

        .tours-img {
          opacity: 0.2;
        }
      }

      .tours-text {
        padding: 2rem;
        height: 18rem;

        .tours-para {
          margin-top: 0;
          font-style: italic;
        }
      }
    }
  }
}
